<h3>Bus Reports</h3>
<div *ngIf="busData">
  <li *ngFor="let org of busData">
    <div (click)="org.isExpanded = !org.isExpanded">
      <label>{{org.organisation}} - {{org.date}}</label>
      <span class="collapse" [ngClass]="{'expand': org.isExpanded}">></span>
    </div>
    <table *ngIf="org.isExpanded">
      <thead>
        <tr>
          <td>Bus ID</td>
          <td>Route Variant</td>
          <td>Status</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let route of org.busData">
          <td>{{route.busId}}</td>
          <td><b>{{route.routeVariant | slice:0:3}}</b> {{route.routeVariant | slice:4}}</td>
          <td [ngStyle]="{'color': getStatusColor(route.deviationFromTimetable)}">
            {{getStatus(route.deviationFromTimetable)}}</td>
        </tr>
      </tbody>
    </table>
  </li>
</div>
<div *ngIf="!busData || error">{{error}}</div>